body {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    height: 100vh;  /* Use full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    padding-bottom: 20px;
    width: 100%;  /* Make sure it takes full width inside body */
    max-width: 400px;  /* Limit the container's maximum width */
}



h1 {
    color: white;
}

.text {
    color: #47df8c;
}

p {
    color: lightgray;
    margin-top: -20px;
}

#password-btn {
    background-color: #10B981;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.hr-line {
    border: 0.1px solid darkgray;
}

.password-field {
    background-color: #263548;
    width: 45%;
    height: 25px;
    margin: 5px;
    display: inline-block;
    color: #47df8c;
    font-size: 12px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    border: none;
}

